<!DOCTYPE html>

<nav class=" navbar navbar-expand-lg navbar-dark bg-secondary">
  <div class="container-fluid" style= "align-text: center; display:flex; justify-content: space-around;">

<h3 class="navbar-text"> Welcome to the our Vacations system! </h3>

<div  class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto">

  <li class="nav-item" >
   <%= link_to "Manager Dashboard", home_Manager_Dashboard_path, class:"nav-link" %> 
   </li>
   
  <li class="nav-item" >
   <a class="nav-link"> | </a> 
   </li>
    
  <li class="nav-item" >
   <%= link_to "Employee Page",root_path, class:"nav-link" %> 
   </li>
    
      <% if user_signed_in? %>
          <li class="nav-links" dir="rtl">
            <%= link_to "Profile",  edit_user_registration_path, class:"nav-link border rounded" %>
          </li>

          <li class="nav-links" dir="rtl">
            <%= link_to "Logout",  destroy_user_session_path, method: :delete, class:"nav-link border rounded" %>
          </li>

      <% else %>

        <li class=" nav-links" dir="rtl">
          <%= link_to "Register", new_user_registration_path, class:"nav-link border rounded" %>
        </li>

        <li class="nav-links" dir="rtl">
          <%= link_to "Login",new_user_session_path, class:"nav-link border rounded" %>
        </li>

    <% end %>

  
  </ul>
</div>
  </div>
</nav>